body {
  background: url(https://images.unsplash.com/photo-1611074522652-5ba64b77af66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHdlYXRoZXIlMjBob3Jpem9udGFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.weather-box {
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 50px;
  background-color: azure;
  width: 500px;
}

.menu-container {
  margin: 10px 5px;
}
